.contacts {
  /* background-color: #191c26; */

  padding-top: 130px;
  padding-bottom: 120px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--second-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  @include font(18, 30, null, 0.02em);
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
  color: #9da4bd;
  @extend %align-list;
  &:hover {
    color: var(--second-title-color);
  }
  .contacts-item:first-child & {
    font-weight: 700;
  }
}

.contacts-icon {
  stroke: currentColor;
  fill: none;
  margin-right: 16px;
}

.contacts-bottom-title {
  /* background: rgba(157, 164, 189, 0.4); */
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.contacts-bottom-text {
  @include font(18, 30, null, 0.02em);
  // font-size: 18px;
  // line-height: 1.67;
  // letter-spacing: 0.02em;
  color: #9da4bd;
}
