.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  > .container {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  margin-right: 70px;
}

.header-logo-icon {
  fill: #303030;
}

.header-list {
  display: flex;
  gap: 30px;
}

/* .header-item:not(:last-child) {
  margin-right: 30px;
} */
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--second-title-color);
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  &::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    border-radius: 3px;
    left: 0;
    background-color: #ff6c00;
    bottom: -10px;
  }
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  /* background-color: var(--second-btn-color); */
  /* color: var(--first-btn-color); */
  color: var(--second-btn-color);
  margin-left: 40px;
}
