.hero .container {
  display: flex;
}

.soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.soc__list {
  @extend %align-list;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
  &::before {
    content: " ";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.soc__link {
  @include font(11, 15, 600, 0.2em);
  // font-weight: 600;
  // font-size: 11px;
  // line-height: 1.36;
  // letter-spacing: 0.2em;
  color: var(--first-title-color);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero__content {
  padding: 272px 100px 206px;
  flex-grow: 1;
  background-color: #373839;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bgr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__pre-title {
  margin-bottom: 20px;
}
.hero__title {
  font-family: "Raleway", sans-serif;
  @include font(72, 85, 700, 0.05em);
  // font-weight: 700;
  // font-size: 72px;
  // line-height: 1.18;
  // letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.hero__after-title {
  color: #9da4bd;
  max-width: 360px;
}
