.btn {
  font-family: inherit;
  @include font(12, 16, 600, 0.09em);
  // font-weight: 600;
  // font-size: 12px;
  // line-height: 1.33;
  // letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
  }
}
